---
layout: default
title: Tags
---

<div class="tags">
  tags:
  {% for tag in site.tags %}
    {% for post in site.tags.tag %}
    <article class="post">
      <h2>tag</h2>
      
      <h2>site.tags.tag</h2>
      
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endfor %}
  {% endfor %}
</div>
